---
layout: default
---

{% include header.html %}

<div class="article-page">
  <div class="container prose">
    <span class="eyebrow">404</span>
    <h1 class="display-4">Page not found</h1>
    <p class="lead">Perhaps you were looking for one of the following:</p>

    <div class="row g-4 pt-2">
      <div class="col-md-6">
        <h2 class="h5">Essays</h2>
        <ul>
          {% assign essay_pages = site.pages | where: "type", "essay" | sort: "date" | reverse %}
          {% for page in essay_pages %}
          <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col-md-6">
        <h2 class="h5">Projects</h2>
        <ul>
          {% assign project_pages = site.pages | where: "type", "project" | sort: "title" %}
          {% for page in project_pages %}
          <li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% include footer.html %}
